<%= fields_for :city do |builder| %>
<div class="newcity">
	<%= builder.label :name, "City" %>
	<%= builder.text_field :name %><br />
	<%= builder.label :state, "State" %>
	<%= builder.text_field :state, :size => 4 %>
</div>
<% end %>