<%= form_for(@alpha) do |f| %>
  <% if @alpha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alpha.errors.count, "error") %> prohibited this alpha from being saved:</h2>

      <ul>
      <% @alpha.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :city_id, "City" %>
    <%= link_to_function "new city", "toggle_fields('div.newcity')" %><br />
    <div>
    	<%= f.collection_select :city_id, City.all, :id, :full_name, :include_blank => true %>
  	</div>
		<%= render :partial => 'city', :locals => {:builder => :city}%>
  </div>
  <div class="field">
    <%= f.label :brewery_id, "Brewery" %><br />
    <%= f.collection_select :brewery_id, Brewery.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
