<h1>Listing alphas</h1>

<table>
  <tr>
    <th>Email</th>
    <th>City</th>
    <th>Brewery</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alphas.each do |alpha| %>
  <tr>
    <td><%= alpha.email %></td>
    <td><%= alpha.city_id %></td>
    <td><%= alpha.brewery_id %></td>
    <td><%= link_to 'Show', alpha %></td>
    <td><%= link_to 'Edit', edit_alpha_path(alpha) %></td>
    <td><%= link_to 'Destroy', alpha, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alpha', new_alpha_path %>
